/* Admin.css */
.container {
    background-image: url('../src/assets/Background.jpg'); /* Adjust the path based on where your image is */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    width: 100vw;  /* Full width of the viewport */
  }
  