@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family:"IMFellFrenchCanonSC-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("IMFellFrenchCanonSC-Regular"),
    url('./assets/fonts/IMFellFrenchCanonSC-Regular.woff')format("woff")
}
@font-face {
    font-family:"DancingScript";
    font-style: normal;
    font-weight: normal;
    src: local("DancingScript-VariableFont_wght"),
    url('./assets/fonts/DancingScript-VariableFont_wght.woff')format("woff")
}
/* @font-face {
    font-family: "Risque";
    src: local("Risque-Regular"),
    url('./assets/fonts/Risque-Regular.ttf') format("truetype")
} */

@font-face {
    font-family: "akaya";
    src: local("AkayaKanadaka-Regular"),
    url('./assets/fonts/AkayaKanadaka-Regular.ttf') format("truetype")
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }